<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <style>
            body {
              background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Flets-talk&psig=AOvVaw0d01lq4kZMjAuUjzWWUtf7&ust=1664294022871000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMi60sHosvoCFQAAAAAdAAAAABAE');
            }
            </style>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   