<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <body background='Assets/image/contactimage.jpg'></body>
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        
        <div style="padding-top: 20px;">
            <form>
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="lname">Your Contact Number:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <a href="mailto: mk0805511@gmail.com"><p style="color:black">Click here to email me </p></a>
                

              </form>
           
            
        </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   