<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <table>
            <tr><img src="logo.png" height = "100px"/></tr>
            <tr>
                <td><a href="index.html">Home</a></td>
                <td><a href="about.html">About me</a></td>
                <td><a href="projects.html">Projects</a></td>
                <td><a href="services.html">Services</a></td>
                <td><a href="contact.html">Contact Me</a></td>
            </tr>
        </table>
        <div style="padding-top: 20px;">
            <h2>Contact Me</h2>
            <table>
                <tr>
                    <td>Contact number: </td>
                    <td>( +91 ) 88 888 22222</td>
                </tr>
                <tr>
                    <td>Facebook Id</td>
                    <td>samplefacebookid</td>
                </tr>
                <tr>
                    <td>Twitter handle</td>
                    <td>@sampletwitterhandle</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>sample.mail.id@sample.domain.com</td>
                </tr>
            </table>
        </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   