<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <img src="/public/Assets/images/https://www.google.com/url?sa=i&url=https%3A%2F%2Ftusharxsharma.github.io%2F&psig=AOvVaw1tnZ2G9s3JSywWElAh86c-&ust=1664242643029000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCOCCu5qpsfoCFQAAAAAdAAAAABAE" alt="banner image for index">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   
    
    
    

