<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <p><b><i>Hi! I'm Mandeep Kaur and I'm student at centennial college</i></b></p>
        <p><i>Workflow Is What We Do</i></p>
        <a><img src="Assets/images/IMG_5354.png" alt = "me" width="300" height="400" style="float:right"></a>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   
    
    
    

