<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <p><a><img src="Assets/images/Fproject1.png" alt="Project1" width="300" height="300" float="right"></a> Weather report project. this project tells you the weather of the city you type </p>
        
          
   
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   
    
    