<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        
        <p><a><img src="Assets/images/Fproject1.png" alt = "me" width="300" height="200" style="float:center"></a>
            <i>Weather report project. This project tells you the weather of the city you type. This was done in semester 2 using html, js and css</i>  </p>
      </div>
          
   
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   
    
    