<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        
        <p><a><img src="Assets/images/Fiproject.png" alt = "FinalProject1" width="300" height="200" style="float:center"></a>
            <i> This project tells you the weather of the city you type. This was individual project completed using html, js and css</i> </p>
                <br><br>
        <p><a><img src="Assets/images/Fiproject2.png" alt = "FinalProject2" width="300" height="200" style="float:center"></a>
            <i>This project is based on Ecommerce Database. In this image you can see ERD diagram explaining how database will look .</i> </p>
            <br><br>
        <p><img src="Assets/images/Fiproject3.jpg" alt = "FinalProject3" width="300" height="200" style="float:center"></a>
        <i>This is java Project displaying singers details. This was also an individual project. </i></p>        
          <br><br>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   
    
    