<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <div style="padding-top: 20px;">
            <h2>Services</h2>
            <p><img src="Assets/images/services.jpg" alt = "FinalProject1" width="300" height="200" style="float:right"></p>
            <ul>
                
                <li>Website Application Development</li>
                <li>web Application Development</li>
                <li>Cloud Consulting</li>
                <li>DevOps Automation</li>
                <li>Quality Assurance</li>
            </ul>
        </div>
          
   
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   